In [48]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp
%matplotlib inline

In [49]:
tb = pd.read_csv('C:/Users/Sujay/Workspace/Structure_Organizing_Data/tb.csv')
print(tb.head())
print (tb.columns)

  iso2  year  m04  m514  m014  m1524  m2534  m3544  m4554  m5564 ...  f04  \
0   AD  1989  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN ...  NaN
1   AD  1990  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN ...  NaN
2   AD  1991  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN ...  NaN
3   AD  1992  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN ...  NaN
4   AD  1993  NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN ...  NaN

   f514  f014  f1524  f2534  f3544  f4554  f5564  f65  fu
0   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
1   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
2   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
3   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN
4   NaN   NaN    NaN    NaN    NaN    NaN    NaN  NaN NaN

[5 rows x 22 columns]
Index(['iso2', 'year', 'm04', 'm514', 'm014', 'm1524', 'm2534', 'm3544',
       'm4554', 'm5564', 'm65', 'mu', 'f04', 'f514', 'f014', 'f1524', 'f2534',
       'f3544', 'f4554', 'f5564', 'f65', 'fu'],
      dtype='object')

Pandas melting operation

In [50]:
''' melt([required columns],[other columns],[melting columns],[melting columns values])'''

melted = tb.melt(['iso2','year'],['m514', 'm014', 'm1524', 'm2534', 'm3544',
       'm4554', 'm5564', 'm65', 'mu', 'f04', 'f514', 'f014', 'f1524', 'f2534',
       'f3544', 'f4554', 'f5564', 'f65', 'fu'],'sexage','cases')
melted.columns = ['country','year','sexage','cases']
print(melted.head())

  country  year sexage  cases
0      AD  1989   m514    NaN
1      AD  1990   m514    NaN
2      AD  1991   m514    NaN
3      AD  1992   m514    NaN
4      AD  1993   m514    NaN

String slicing operation

In [52]:
melted['sex'] = melted['sexage'].str.slice(0,1)
melted['age'] = melted['sexage'].str.slice(1)
print(melted.head())

  country  year sexage  cases sex  age
0      AD  1989   m514    NaN   m  514
1      AD  1990   m514    NaN   m  514
2      AD  1991   m514    NaN   m  514
3      AD  1992   m514    NaN   m  514
4      AD  1993   m514    NaN   m  514

In [53]:
melted['age'] = melted['age'].map({'04':'0-4','514':'5-14','1524':'15-24','2534':'25-34',
                                   '3544':'35-44','4554':'45-54','5564':'55-64','65':'65+',
                                   'u':np.nan})

In [55]:
print(melted.head())

  country  year sexage  cases sex   age
0      AD  1989   m514    NaN   m  5-14
1      AD  1990   m514    NaN   m  5-14
2      AD  1991   m514    NaN   m  5-14
3      AD  1992   m514    NaN   m  5-14
4      AD  1993   m514    NaN   m  5-14

In [57]:
finalmelt = melted.dropna(subset=['cases'])
print(finalmelt.head())

   country  year sexage  cases sex   age
15      AD  2005   m514    0.0   m  5-14
16      AD  2006   m514    0.0   m  5-14
18      AD  2008   m514    0.0   m  5-14
42      AE  2006   m514    0.0   m  5-14
43      AE  2007   m514    2.0   m  5-14

In [58]:
finalmelt.sort_values(['country','year','age','sex'])
print(finalmelt.head())

   country  year sexage  cases sex   age
15      AD  2005   m514    0.0   m  5-14
16      AD  2006   m514    0.0   m  5-14
18      AD  2008   m514    0.0   m  5-14
42      AE  2006   m514    0.0   m  5-14
43      AE  2007   m514    2.0   m  5-14

In [60]:
final = finalmelt[['country','year','age','sex','cases']]
print(final.head(10))

    country  year   age sex  cases
15       AD  2005  5-14   m    0.0
16       AD  2006  5-14   m    0.0
18       AD  2008  5-14   m    0.0
42       AE  2006  5-14   m    0.0
43       AE  2007  5-14   m    2.0
44       AE  2008  5-14   m    0.0
94       AG  2007  5-14   m    0.0
141      AL  2005  5-14   m    0.0
142      AL  2006  5-14   m    4.0
143      AL  2007  5-14   m    0.0

In [62]:
final.to_csv('C:/Users/Sujay/Workspace/Structure_Organizing_Data/final.csv',index=False)

In [67]:
print(pd.read_csv('C:/Users/Sujay/Workspace/Structure_Organizing_Data/final.csv').head())

  country  year   age sex  cases
0      AD  2005  5-14   m    0.0
1      AD  2006  5-14   m    0.0
2      AD  2008  5-14   m    0.0
3      AE  2006  5-14   m    0.0
4      AE  2007  5-14   m    2.0